**Sri Harsha Kasaraneni-700755577**

In [1]:
# Given list of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list
ages.sort()

# Find the minimum and maximum age
min_age = min(ages)
max_age = max(ages)

# Add the minimum and maximum age to the list
ages.append(min_age)
ages.append(max_age)

# Find the median age
median_age = (ages[len(ages) // 2 - 1] + ages[len(ages) // 2]) / 2 if len(ages) % 2 == 0 else ages[len(ages) // 2]

# Find the average age
average_age = sum(ages) / len(ages)

# Find the range of ages
age_range = max_age - min_age

# Printing the results
print(f"Sorted ages: {ages}")
print(f"Minimum age: {min_age}")
print(f"Maximum age: {max_age}")
print(f"Median age: {median_age}")
print(f"Average age: {average_age}")
print(f"Age range: {age_range}")

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]
Minimum age: 19
Maximum age: 26
Median age: 24.0
Average age: 22.75
Age range: 7

# Question 2

In [4]:
# Create an empty dictionary called dog
dog = {}

# Add attributes to the dog dictionary
dog['name'] = 'Buddy'
dog['color'] = 'Brown'
dog['breed'] = 'Labrador'
dog['legs'] = 4
dog['age'] = 5

# Create a student dictionary
student = {
    'first_name': 'John',
    'last_name': 'Doe',
    'gender': 'Male',
    'age': 22,
    'marital_status': 'Single',
    'skills': ['Python', 'Java'],
    'country': 'USA',
    'city': 'New York',
    'address': '123 Main St'
}

# Get the length of the student dictionary
length_of_student = len(student)

# Get the value of skills and check the data type
skills = student['skills']
skills_type = type(skills)

# Modify the skills values by adding one or two skills
student['skills'].extend(['C#', 'SQL'])

# Get the dictionary keys as a list
student_keys = list(student.keys())

# Get the dictionary values as a list
student_values = list(student.values())

# Printing the results
print(f"Dog dictionary: {dog}")
print(f"Student dictionary: {student}")
print(f"Length of student dictionary: {length_of_student}")
print(f"Skills: {skills}, Type of skills: {skills_type}")
print(f"Updated skills: {student['skills']}")
print(f"Student dictionary keys: {student_keys}")
print(f"Student dictionary values: {student_values}")

Dog dictionary: {'name': 'Buddy', 'color': 'Brown', 'breed': 'Labrador', 'legs': 4, 'age': 5}
Student dictionary: {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 22, 'marital_status': 'Single', 'skills': ['Python', 'Java', 'C#', 'SQL'], 'country': 'USA', 'city': 'New York', 'address': '123 Main St'}
Length of student dictionary: 9
Skills: ['Python', 'Java', 'C#', 'SQL'], Type of skills: <class 'list'>
Updated skills: ['Python', 'Java', 'C#', 'SQL']
Student dictionary keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Student dictionary values: ['John', 'Doe', 'Male', 22, 'Single', ['Python', 'Java', 'C#', 'SQL'], 'USA', 'New York', '123 Main St']

# Question 3

In [5]:
# Create tuples for siblings
sisters = ('Anna', 'Ella')
brothers = ('Mike', 'John')

# Join brothers and sisters tuples and assign it to siblings
siblings = sisters + brothers

# Count the number of siblings
num_siblings = len(siblings)

# Modify the siblings tuple to include parents
family_members = siblings + ('Father', 'Mother')

# Printing the results
print(f"Siblings: {siblings}")
print(f"Number of siblings: {num_siblings}")
print(f"Family members: {family_members}")

Siblings: ('Anna', 'Ella', 'Mike', 'John')
Number of siblings: 4
Family members: ('Anna', 'Ella', 'Mike', 'John', 'Father', 'Mother')

# Question 4

In [9]:
# Define the sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Find the length of the set it_companies
length_it_companies = len(it_companies)

# Add 'Twitter' to it_companies
it_companies.add('Twitter')

# Insert multiple IT companies at once
it_companies.update(['Spotify', 'Netflix'])

# Remove one of the companies from the set
it_companies.discard('Oracle')  # or it_companies.remove('Oracle')

# Difference between remove and discard: 'remove' will raise an error if the element doesn't exist, 'discard' will not.

# Join A and B
A_union_B = A.union(B)

# Find A intersection B
A_intersection_B = A.intersection(B)

# Is A subset of B
A_subset_B = A.issubset(B)

# Are A and B disjoint sets
A_disjoint_B = A.isdisjoint(B)

# Join A with B and B with A
A_union_B = A.union(B)
B_union_A = B.union(A)

# Symmetric difference between A and B
A_sym_diff_B = A.symmetric_difference(B)

# Delete the sets completely
del A, B

# Convert the ages list to a set and compare the length of the list and the set
age_set = set(age)
age_list_length = len(age)
age_set_length = len(age_set)

# Printing the results
print(f"IT companies: {it_companies}")
print(f"Length of IT companies set: {length_it_companies}")
print(f"A union B: {A_union_B}")
print(f"A intersection B: {A_intersection_B}")
print(f"Is A subset of B: {A_subset_B}")
print(f"Are A and B disjoint: {A_disjoint_B}")
print(f"Symmetric difference between A and B: {A_sym_diff_B}")
print(f"Length of age list: {age_list_length}, Length of age set: {age_set_length}")

IT companies: {'IBM', 'Apple', 'Facebook', 'Amazon', 'Microsoft', 'Google', 'Twitter', 'Spotify', 'Netflix'}
Length of IT companies set: 7
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
Is A subset of B: True
Are A and B disjoint: False
Symmetric difference between A and B: {27, 28}
Length of age list: 8, Length of age set: 5

# Question 5

In [7]:
import math

# Given radius
radius = 30

# Calculate the area of the circle
_area_of_circle_ = math.pi * radius ** 2

# Calculate the circumference of the circle
_circum_of_circle_ = 2 * math.pi * radius

# Take radius as user input and calculate the area
user_radius = float(input("Enter the radius: "))
user_area_of_circle = math.pi * user_radius ** 2

# Printing the results
print(f"Area of the circle: {_area_of_circle_}")
print(f"Circumference of the circle: {_circum_of_circle_}")
print(f"User-provided radius area of the circle: {user_area_of_circle}")

Enter the radius: 3
Area of the circle: 2827.4333882308138
Circumference of the circle: 188.49555921538757
User-provided radius area of the circle: 28.274333882308138

# Question 6

In [8]:
sentence = "I am a teacher and I love to inspire and teach people"

# Split the sentence into words and find unique words
unique_words = set(sentence.split())

# Count the number of unique words
unique_word_count = len(unique_words)

# Printing the result
print(f"Unique words: {unique_words}")
print(f"Number of unique words: {unique_word_count}")

Unique words: {'inspire', 'and', 'love', 'teach', 'I', 'am', 'a', 'to', 'teacher', 'people'}
Number of unique words: 10

# Question 7

In [10]:
print("Name\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name	Age	Country	City
Asabeneh	250	Finland	Helsinki

# Question 8

In [11]:
radius = 10
area = 3.14 * radius ** 2
formatted_string = f"The area of a circle with radius {radius} is {area} meters square."

# Printing the result
print(formatted_string)

The area of a circle with radius 10 is 314.0 meters square.

# Question 9

In [12]:
# Read number of students
N = int(input("Enter the number of students: "))

# Read weights in lbs
weights_lbs = [float(input(f"Enter weight for student {i+1}: ")) for i in range(N)]

# Convert weights to kilograms
weights_kgs = [round(weight * 0.453592, 2) for weight in weights_lbs]

# Printing the results
print(f"Weights in lbs: {weights_lbs}")
print(f"Weights in kgs: {weights_kgs}")

Enter the number of students: 5
Enter weight for student 1: 55
Enter weight for student 2: 50
Enter weight for student 3: 35
Enter weight for student 4: 64
Enter weight for student 5: 44
Weights in lbs: [55.0, 50.0, 35.0, 64.0, 44.0]
Weights in kgs: [24.95, 22.68, 15.88, 29.03, 19.96]